body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

#posts-container {
    padding: 20px;
}

.post {
    margin: 10px 0;
    font-size: 18px;
}
